*.beam
*.o
*.plt
*.sublime-project
*.sublime-workspace
.eunit
bin/expm
debug-*
deps
ebin/*
erl_crash.dump
.rebar
bin
_build/*
docs/master/current/api
docs/master/current/user-guide
docs/user-guide/build/
docs/user-guide/Gemfile.lock
