#(project
  (#(meta (
     #(name lxml)
     #(description "An LFE XML wrapper library.")
     #(version "0.2.0")
     #(keywords ("LFE" "Lisp" "Library" "XML" "Parsing" "Wrappers"))
     #(maintainers (
       (#(name "Duncan McGreggor") #(email "oubiwann@gmail.com"))))
     #(repos (
       #(github "lfex/lxml")))))))

#(lhc
  (#(backend httpc)))
