{erl_opts, [debug_info, {src_dirs, ["test"]}]}.

{lfe_first_files, []}.

{eunit_compile_opts, [
   {src_dirs, ["test"]}
  ]}.

{deps, [
   {lfe, ".*", {git, "git://github.com/rvirding/lfe.git", {tag, "v0.10.1"}}},
   {lutil, ".*", {git, "git://github.com/lfex/lutil.git", {tag, "0.7.1"}}},
   {clj, ".*", {git, "git://github.com/lfex/clj.git", {tag, "0.3.1"}}},
   {erlsom, ".*", {git, "git://github.com/willemdj/erlsom", {tag, "v1.4.0"}}},
   {exemplar, ".*", {git, "git://github.com/lfex/exemplar", {tag, "0.3.1"}}},
   {lhc, ".*", {git, "git://github.com/lfex/lhc", {tag, "0.2.1"}}}
  ]}.

{plugins, [
   {'lfe-compile', ".*", {git, "https://github.com/lfe-rebar3/compile.git", {tag, "0.2.2"}}}
  ]}.

{provider_hooks, [{pre, [{compile, {lfe, compile}}]}]}.

{profiles, [
  {dev, [
    {deps, []},
    {plugins, [
      {'lfe-version', ".*", {git, "https://github.com/lfe-rebar3/version.git", {tag, "0.2.2"}}},
      {'lfe-clean', ".*", {git, "https://github.com/lfe-rebar3/clean.git", {tag, "0.1.1"}}}
      ]}
    ]},
  {test, [
    {deps, [
      {ltest, ".*", {git, "git://github.com/lfex/ltest.git", {tag, "0.7.1"}}}]}
      ]},
  {docs, [
    {deps, []},
    {plugins, [
      {lodox, ".*", {git, "https://github.com/quasiquoting/lodox.git", {tag, "0.12.5"}}}
      ]}
    ]}
  ]}.

{lodox,
 [{apps,
   [{lhc,
     [{'source-uri',
       "https://github.com/lfex/lhc/blob/{version}/{filepath}#L{line}"},
      {'output-path', "docs/master/current/api"}]}]}
  ]}.
